# do not include the node modules in Git
node_modules

# do not include the package in Git
package

# do not include the local environment files
.env.local
.env.*.local

# do not include the Connectors Json Db file
connectors.json

*.zip

dist/
temp/
yarn-error.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.yarn/cache/*
.yarn/*.gz
client-config-app/build/*
website/build/*
manifest/build/*
official-stickers/build/*

# C# Service
nupkg/


# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
server*/[Dd]ebug/
server*/[Dd]ebugPublic/
server*/[Rr]elease/
server*/[Rr]eleases/
server*/x64/
server*/x86/
server*/build/
server*/bld/
server*/[Bb]in/
server*/[Oo]bj/
server*/[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
*/BenchmarkDotNet.Artifacts/



/build/
/webapp/

appsettings.local.json
.fake

*.log
*.dll