# do not include the node modules in Git
node_modules

# do not include the package in Git
package

# do not include the local environment files
.env.local
.env.*.local

# do not include the Connectors Json Db file
connectors.json

*.zip

dist/
temp/
yarn-error.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.yarn/cache/*
.yarn/*.gz
client-config-app/build/*
website/build/*
manifest/build/*
official-stickers/build/*

server/dist/*

# C#
server.net/obj/*
server.net/bin/*
server.net/.vs/*
StickersTests/bin/*
StickersTests/obj/*

/build/
/webapp/

appsettings.local.json