.ImageItem {
    position: relative;
    text-align: center;
    width: 33vw;
    height: 33vw;
    & &-img {
        width: 25vw;
        height: 25vw;
        margin: auto;
    }
    & &-bar {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 0.2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & &-close {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        // background-color: #A33D2A;
        // color: white;
    }
}
