.PrototypeSection {
    margin: 2em auto;
}

.PrototypeComponent {
    width: 85%;
    min-width: fit-content;
    max-width: 1920px;

    margin: auto;

    box-shadow: 0px 1px 0px 1px rgba(235, 235, 228, 0.2);
    border-radius: 2px;

    & &-header {
        background: #464775;
        color: #fff;
        padding: 1em 3em;
        margin: 0;
        @media screen and (max-width: 460px) {
            padding: 0.5em;
        }
    }
    & &-content {
        background: #33344a;
        padding: 0 3em 3em;
        &Box {
            background: #f3f2f1;
        }
        @media screen and (max-width: 460px) {
            padding: 0;
        }
    }
}
