# Server Build and Deploy

name: Server-build-deploy
on:
    push:
        branches: ["v2", "main"]
        paths:
            - ".github/workflows/server-cd.yml"
            - "server.net/**"

permissions:
    contents: read

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
    group: "${{ github.workflow }}-${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
    cancel-in-progress: true

env:
    DOTNET_VERSION: "6.x" # The .NET SDK version to use

jobs:
    server-build:
        runs-on: ubuntu-latest
        timeout-minutes: 6
        steps:
            - uses: actions/checkout@v2
            - name: Setup .NET Core
              uses: actions/setup-dotnet@v1
              with:
                  dotnet-version: ${{ env.DOTNET_VERSION }}

            - name: Build
              run: dotnet build server.net --configuration Release

            - name: Publish
              run: dotnet publish server.net -c Release -o webapp
            #   -r linux-x64 --self-contained true /p:UseAppHost=true

            - uses: actions/upload-artifact@v3
              with:
                  name: server
                  path: webapp/**
                  if-no-files-found: error
                  retention-days: 7

    server-deploy:
        needs: [server-build]
        environment:
            name: Integration
            url: https://hack-stickers-v2-dev.azurewebsites.net/swagger/index.html
        runs-on: ubuntu-latest
        timeout-minutes: 6
        steps:
            - uses: actions/download-artifact@v3
              with:
                  path: ./

            - uses: azure/webapps-deploy@v2
              with:
                  publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
                  package: webapp
