name: web-CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: install
      run: npm ci
      working-directory: ./web
      env:
        CI: true
        
    - name: build
      working-directory: ./web
      run: npm run build        
    - name: test
      working-directory: ./web
      run: npm test
      env:
        CI: true
